body {
  font-family: Roboto;
}
.container {
  border: 1px solid;
  max-width: 700px;
  margin: 10px;
  padding: 10px;
}
h1 {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
input {
  width: 400px;
}
button {
  color: white;
  background-color: green;
}
.bold {
  font-weight: bold;
}
.stats {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 180px;
  left: 300px;
}
.ids {
  margin: 0px 10px;
}
.tasks {
  margin: 0px 10px;
}
.status {
  left: 300px;
  position: absolute;
  width: 70px;
}
.indicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkboxes {
  display: flex;
  justify-content: space-between;
}
.checkboxes input {
  max-width: 13px;
}
